# Ignore compiled bytecode files and __pycache__ directories
*.pyc
__pycache__/
*/__pycache__/


# Ignore environment files
/.env
/.env

# Ignore VSCode workspace settings
.vscode/

#
/.venv
/E-commerce-34sOm8Ye
/E-commerce-34sOm8Ye

# Hello 
