.cart_drop_down {
  position: absolute;
  top: 100%;
  right: -100%;
  padding: 5px 0;
  z-index: 4;
  min-width: 300px;
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top-left-radius: 10%;
  box-shadow: 4px 4px 6px 0px #30004d5d;
  transition: all 0.2s ease-out;
  z-index: 9;
  background-color: #ffffff;
  min-height: 300px;
}
.cart_header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  border-bottom: 1px solid #ed9121;
}
.empty_cart_txt {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 90px;
  color: #747474;
  font-weight: 700;
  letter-spacing: 3px;
}
.cart_content {
  padding: 10px;
  padding-bottom: 60px;
  width: 100%;
  position: relative;
  max-height: 60vh;
  overflow-y: overlay;
  min-height: 250px;
  overflow-x: hidden;
}
.cart_items_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #ffffff;
}
.cart_item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin-top: 6px;
  border-bottom: 1px solid #ddd;
}
/* .cart_item:not(:first-child) {
}
.cart_item:not(:last-child)::after {
  position: absolute;
  content: '';
  height: 1px;
  background-color: cadetblue;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 20px);
  bottom: -10px;
  margin: 0 auto;
} */
.item_image {
  width: 20%;
  height:100%;
  padding: 5px;
}
.item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove_from_cart_btn {
  width: 5%;
  height: 17px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 4px;
}
.remove_from_cart_btn:hover {
  scale: 1.2;
}
.icon_trash {
  width: 100%;
  height: 100%;
  color: rgb(168, 0, 0);
}
.item_details {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 5px;
}
.item_title {
  color: #000000;
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
}
.item_price_details {
  display: flex;
  align-items: center;
  color: #202020;
  font-size: 0.9rem;
  gap: 0.5rem;
}
.item_price {
  min-width: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #008000;
}
.item_old_price {
  min-width: 40px;
  text-decoration: line-through;
  color: var(--light-gray);
}
.cart_total{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  padding: 5px 10px;
  /* border-top: 1px solid #333; */
}
.total_price{
  color: #008000;
  font-weight: 800;

}
.cart_page_link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  height: 40px;
  border: 1px solid #ed9121;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333c9;
}
.cart_page_link:hover {
  background-color: #000000;
}
