.side_nav_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.side_nav_content {
  display: block;
  position: fixed;
  top: 0;
  width: 35%;
  max-width: 78%;
  height: 100%;
  background-color: #fff;
  /* padding: 0.9rem; */
}

.close_nav_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  background-color: #ffffff;
  border: none;
}
.icon_close {
  width: 25px;
  height: 25px;
  color: #000;
}
.side_nav_auth_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
  width: 100%;
  margin: 0 0 1rem;
}
.side_nav_login,
.side_nav_register {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  background-color: #333;
  color: #ffffff;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
}
.side_nav_login {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.5s ease-in-out;
}
.side_nav_login:hover {
  background-color: #ed9121;
}
.login_icon {
  color: greenyellow;
}
.side_nav_register {
  background-color: #ffffff;
  border: 2px solid #ed9121;
  color: #000000;
  transition: all 0.5s ease;
}
.side_nav_register:hover {
  color: #ffffff;
  background-color: #ed9121;
}
.side_nav_header {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  color: #333;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #ddd;
}
.side_nav_cats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 5px 0px;
}
.side_nav_cats li {
  display: block;
  width: 100%;
}
.side_nav_cat {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1;
  background-color: #9c9c9c;
  padding: 5px;
  color: #fff;
}
.side_nav_cat:hover {
  background-color: #333;
}
.side_nav_links {
  width: 100%;
  padding: 10px 15px;
  border-top: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.side_nav_link {
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 600;
  /* margin: 0 1rem; */
  color: #333;
}
.side_nav_link:hover {
  color: #444;
  text-decoration: underline;
}
@media only screen and (min-width: 760px) {
  .side_nav_modal {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .side_nav_content {
    width: 45%;
  }
}
@media only screen and (max-width: 450px) {
  .side_nav_header {
    letter-spacing: 0;
    font-size: 0.8rem;
  }
  .side_nav_content {
    width: 60%;
  }
  .side_nav_cat {
    font-size: 0.7rem;
  }
  .side_nav_link {
    font-size: 0.8rem;
  }
}
