/* StarRating.css */
.star-rating {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 14px;
  color: #ffd700;
}

.icon_star {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #ffd700;
}

