.notifi_page {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: rgb(255, 255, 255);
}
.notfi_p_content {
  width: 100%;
  background-color: aliceblue;
  margin: auto;
  padding: 2rem;
}
.notifi_page.inst_notifi_page {
  width: 80%;
}
