# Ignore compiled bytecode files and __pycache__ directories
*.pyc
__pycache__/
*/__pycache__/

# Ignore environment files
*.venv
Pipfile
Pipfile.lock

# Ignore VSCode workspace settings
.vscode/

# Ignore templates folder if you don't want to track any HTML files
/templates/

# Ignore media files (images and videos)
media/course/images/*
media/course/videos/*
media/profile_pictures/*
media/*jpg
media/*png
/media/
