.earnings_content {
  width: 80%;
  height: 100%;
}
.earnings_content table {
  width: 50%;
  margin: 2rem auto;
}

.earnings_content table thead {
  width: 100%;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.earnings_content table tr {
  margin: 1rem 0;
}

.earnings_content table .keys {
  background-color: rgb(0, 0, 0);
  text-align: left;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px;
}
.earnings_content table .vals {
  background-color: teal;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
}
