.sell_crs_content {
  width: 85%;
  margin: auto;
}
.create_crs_form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  position: relative;
  padding-bottom: 5rem;
}
.sc_form_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.splitter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.br_btm {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}
.half {
  width: 46%;
}
.sc_label {
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 1;
}
.sc_form_group label {
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 1;
}
.src_sml_txt {
  line-height: 1;
  font-size: 0.8rem;
  color: black;
  font-weight: 600;
  margin: 0.5rem 0;
}
/* .crs_cat{
  width: 45%;
} */
.sc_form_group input,
.crs_cat {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px;
  height: 30px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #333;
  outline: 1px solid transparent;
  border-radius: 1px;
}
.sc_form_group input:focus {
  border: 1px solid transparent;
  outline: 1px solid #ed9121;
}
.sc_desc_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.upload_btn {
  border: 1px solid #ddd;
  text-align: center;
  color: #ffffff;
  background-color: #b8b8b8;
  margin-right: 0.3rem;
  padding: 2px 5px;
  cursor: pointer;
}
.sc_navigation {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc_navigation button {
  padding: 10px 15px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}
.last_sc_step{
  width: 100%;
  /* padding: 2rem; */
}
.sc_submit_btn{
  padding: 10px 15px;
  text-align: center;
  color: #ffffff;
  background-color: teal;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  margin: 1rem auto;
}