/* FOOTER */
.footer {
  width: 100%;
  height: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  gap: 1rem;
  border-top: 1px solid #550000;
}
.footer_links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}
.link_group ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.foot_link {
  color: var(--white);
  font-size: 0.9rem;
}
.footer_end {
  color: #ffffff;
  font-size: 0.7rem;
  margin-left: auto;
}
@media only screen and (max-width: 700px) {
  .footer {
    padding: 3rem 1rem;
  }
  .footer_links {
    gap: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    padding: 3rem 1rem;
  }
  .foot_link {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .footer_links {
    justify-content: space-between;
  }
  .footer {
    padding: 3rem 1rem;
  }
  .foot_link {
    font-size: 0.8rem;
  }
  .footer_end {
    font-size: 0.9rem;
  }
}
