.user_profile_dd {
  position: absolute;
  top: 110%;
  right: 2%;
  min-height: 150px;
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 5px 5px 5px #333;
  /* border: 1px solid #3333336e; */
  border-top-left-radius: 30px;
  border-left: 1px solid #ed9121;
  border-bottom: 1px solid #ed9121;
}
.user_pr_dd_content {
  padding: 0 0 0.5rem;
  width: 100%;
}
.usr_pr_dd_user_link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #000;
}
.usr_pr_dd_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #333;
  background-color: #333;
  color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
}

.user_info_wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 5px;
}

.user_name {
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
}
.user_email {
  color: #333;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 600;
}
.user_pr_dd_list {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
}
.user_pr_dd_link {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  padding: 8px 10px;
  height: auto;
}
.user_pr_dd_link:hover {
  background-color: #000;
  color: #ffffff;
}
.user_pr_dd_link.logout_btn:hover {
  color: white;
  background-color: red;
}
.usr_dd_cart_counter {
  background-color: #ed9121;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px 5px;
  min-width: 25px;
  font-size: 0.8rem;
  font-weight: 700;
}

.cart_cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 760px) {
  .user_profile_dd {
    display: none;
  }
}
