.cart_page {
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 60px);
}
.cart_page_header {
  background-color: aliceblue;
  padding: 2rem 3rem 2rem 5rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #000;
}
.cart_page_content {
  width: 80%;
  padding: 10px;
  margin: auto;
}
.cart_page_c_content {
  width: 40%;
  margin: 1rem 0 4rem;
}
.cp_counter {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  padding: 5px;
  border-bottom: 2px solid #000;
}
.checkout_link {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  /* margin: 3rem auto 0; */
  margin-top: 3rem;
  display: block;
  background-color: #000;
  color: #ffffff;
  width: 100%;
}
.checkout_link:hover {
  color: #fff;
  background-color: #6802ac;
}
.cart_page_courses {
  width: 100%;
  margin: 2rem auto;
}
